@use "sass:list";
@use "sass:math";

@import 'mixin/mixin.grid';
@import 'mixin/mixin.mediaquery';
@import 'mixin/mixin.box.shadow';
@import 'mixin/mixin.background.size';
@import 'mixin/mixin.flexbox';
@import 'mixin/mixin.bubble';
@import 'mixin/mixin.transition';
@import 'mixin/mixin.border.radius';
@import 'mixin/mixin.mybuttons';
@import 'mixin/mixin.btn';
@import 'mixin/mixin.transform';
 


 
:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}



$color-button: $color-secondary;
$font-quick: 'Quicksand';
$sizeico: 6rem;
$sizeico-m: 4.5rem;

body {
    font-family: $font-quick;
    margin: 0;
    padding: 0;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  
      transition: 0.15s background ease;
}

h1 {
    margin: 2rem 0; 
    //color: #007bff;
    font-size: $size-xl;
}

h2 {
    font-size: $size-md;
}



[data-overlay-dark]:before, [data-overlay-light]:before, [data-overlay]:before  {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:0;
}

[data-overlay]:before {background: $color-primary;}
[data-overlay="9"]:before {opacity: 0.9;}
[data-overlay="8"]:before {opacity: 0.8;}
[data-overlay="7"]:before {opacity: 0.7;}
[data-overlay="6"]:before {opacity: 0.6;}

body.light [data-overlay]:before {background:#343a40;}
body.light [data-overlay="9"]:before {opacity: 0.9;}
body.light [data-overlay="8"]:before {opacity: 0.8;}
body.light [data-overlay="7"]:before {opacity: 0.7;}
body.light [data-overlay="6"]:before {opacity: 0.6;}

body.dark [data-overlay]:before {background:#343a40;}
body.dark [data-overlay="9"]:before {opacity: 0.9;}
body.dark [data-overlay="8"]:before {opacity: 0.8;}
body.dark [data-overlay="7"]:before {opacity: 0.7;}
body.dark [data-overlay="6"]:before {opacity: 0.6;}


html, body {
	text-align: left;
}


.section {
    padding-top: 48px;
    padding-bottom: 48px;
    
    
    &.compreseguros {
        position: relative;
        display: block;
        margin-bottom: 30px;
        //padding-top: 52px;
    }
}



.hero_component {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.hero_text-wrapper {
    width: 100%;
    max-width: 690px;
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    text-align: center;
    
    h2 {
        font-size: $size-sm;
        opacity: .6;
    }
}

.hero_buttons {
    display: flex;
}


.hero_sticky-wrapper {
    
    position: relative;
    display: flex;
    height: 1120px;
    margin-top: 55px;
    flex-direction: column;
    justify-content: space-between;
    
    .hero_phone-arg {

        position: sticky;
        top: 48px;
        display: block;
        margin-right: auto;
        margin-left: auto;
        
        @include laptop {
            opacity: 0;
        }
    }
    
    .hero_suma {
        position: absolute;
        left: 100px;
        top: 220px;
        right: auto;
        bottom: auto;
        border-radius: 20px;
        //box-shadow: $shadow;
        
        @include laptop {
           left: 0;
            z-index: 1;
        }
    }   
    
    .suma-promedio  {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: $color-third;
            padding: 1rem;
            border-radius: 12px;
            color: white;
            margin: 24px 0;
            border: 1px solid $color-third;
            width: 300px;
            flex-direction: column;
            //animation: scale 1s ease-in ;
            //animation-iteration-count: infinite;        
            box-shadow: $shadow;
            
            
            a {
                background: white;
                color: #004cba;
                padding: 0.5rem;
                border-radius: 12px;
                text-align: center;
                max-width: 25%;
                min-width: 25%;
                text-decoration: none;
                min-width: 100%;
                max-width: 100%;
                margin: $margin;
                margin-bottom: 0;
            }
        }   
    
    .hero_cotizador {
        position: absolute;
        left: auto;
        top: 30px;
        right: 17px;
        bottom: auto;
        width: 370px;
        
        @include laptop {
            top: 0;
            right: 0;
        }
        
        
        
        .mini_coti {
            display: flex;
            padding: $margin-m;
            align-items: center;
            justify-content: space-around;
            margin-bottom: $margin-m;
            animation: bounce 1.75s ease-in ;
            //animation-iteration-count: infinite;
            img {
                max-width: 92px;
                
            }
            
            @include border-radius($radius-m);
            background: white;
            box-shadow: $shadow-m;
            
            &:nth-child(2) {
             transform: scale(.95);
             animation: bounce 1.5s ease-in ;    
            }
            
            &:nth-child(3) {
             transform: scale(.9);
            animation: bounce 1.25s ease-in ;      
            }
            
            &:nth-child(4) {
             transform: scale(.85);
            animation: bounce 1s ease-in ;       
            }              
            
            &:nth-child(5) {
             transform: scale(.8);
                animation: bounce .75s ease-in ;   
            }           
            
            h4 {
                margin: 0;
            }
            p {
                margin: 0;
                margin-bottom: $margin-m;
                font-size: 13px;
                color: $color-third;
            }
            
        }
        
    }
    
    .investment_component {

        position: absolute;
        left: $margin;
        top: 52px;
        //right: 143px;
        //bottom: auto;
        width: 100%;
        max-width: 244px;
        padding: 26px 20px;
        border-radius: 16px;
        background-color: #fff;
        //background-image: url(../images/2022/arg_hero-card-dai.png),url(../images/2022/bg_flowers.png);
        background-image: url(../images/2022/bg_flowers.png);
        background-position: 100% 50%,100% 50%;
        background-size: 106px,118px;
        background-repeat: no-repeat,no-repeat;
        //box-shadow: $shadow;
        box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 15%);
        color: #00317a;
        
        @include laptop {
            top: 0;
            left: 0;
        }
        
    }     
}

.btn-mini {
        padding: 6px 14px;
        border: 1px solid #1a9cff;
        border-radius: 14px;
        color: #1a9cff;
        font-size: 12px;
        text-decoration: none;
    }  

.hero_bg-circle-wrapper {
    position: absolute;
    left: 0;
    top: -824px;
    right: 0;
    bottom: auto;
    overflow: hidden;
    width: 100%;
    height: 1614px;
}

.hero_bg-circle {

    position: absolute;
    left: 50%;
    top: 10%;
    right: 0;
    bottom: auto;
    width: 1280px;
    height: 1280px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 50%;
    //background-color:#001233;
    background: $color-primary;
    border: 1px solid #001845;
    box-shadow: $shadow;
    transform: translate(-50%,0);
    
    /*
    &:after {
        position: absolute;
        left: 50%;
        top: -700px;
        bottom: auto;
        width: 1614px;
        height: 1614px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 50%;
        border: 8px solid #fff;
        background:rgba(4, 102, 200,.8);
        transform: translate(-50%,0);   
        //z-index:21;
        content: "";
    }
    
    &:before {
        position: absolute;
        left: 50%;
        top: 180px;
        //right: 0;
        bottom: auto;
        width: 1614px;
        height: 1224px;
 
        border-radius: 50%;
        background-color:#002855;
        transform: translate(-50%,0);  
        border: 15px solid #023e7d;
        z-index: 0;
        content: "";
    }
    */
}

.unlock_layout {
    position: relative;
    top: -152px;
    display: flex;
    justify-content: space-between;
}

.unlock_text-wrapper {
    width: 100%;
    max-width: 350px;
}

.unlock_steps-layout {
    width: 100%;
    max-width: 425px;
}

.unlock_elipse {
    position: absolute;
    top: 14px;
    right: 230px;
    z-index: -1;
}

.unlock_blurred-bg {
    position: absolute;
    left: 0;
    top: -12%;
    right: 0;
    bottom: 0;
    z-index: -1;
    margin-right: auto;
    margin-left: auto;
}

.unlock_steps-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.unlock_steps-item {
    position: relative;
    display: flex;
    padding: 16px 24px;
    align-items: center;
}

//elementos extras

.cobertura-popular {
    background: white;
    border-radius: 12px;
    box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 15%);
    margin: $margin;
    transition: 0.5s;
    padding: 12px;
    align-items: flex-start;
    flex-wrap: wrap;
    position: relative;
    
 
    h1 {
    font-size: 1rem;
    margin: 6px 0;
    }
    
    
    .center-side .top-side {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    text-align: center;
    position: relative;
    }
    
    .top-side {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    text-align: center;
    position: relative; 
    }
    
   .ico-wrap {
    position: absolute;
    left: 50%;
    top: 16px;
    width: 48px;
    height: 48px;
    margin-left: -24px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    }   
    
    .ico {
        width: 38px;
        height: 38px;
        &.volkswagen {
            background: url(../images/autos/marcas/svg/volkswagen.svg) no-repeat;
                    filter: grayscale(1);
        }
    }
    
    .center-side {
        text-align: center;
    }
    
    .c-name {
        text-align: center;
        color: $color-primary;
    }
    
    .podio {
        width: 96px;
        height: 96px;
        margin-top: 24px;
        background: url(../images/icos/ico-podium.svg) no-repeat;
        display: flex;
        justify-content: center;
        //filter: grayscale(1);
    }
    
    .center-side .top-side {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        display: flex;
        text-align: center;
        position: relative;
    }    
    
    .btn-primary {
        background: $color-primary;
        margin: $margin auto;
    }
}



section {
    
    z-index: 0;
    padding: $margin;
    @include laptop {
        padding: 2rem;
    }

    @include mobile {
        padding: 1rem;
    }
    
    
    &.main { 

        @include background-size(cover); 
        position: relative;
        background: url(../images/banner-00.jpg) no-repeat right center; 
        background-size: cover;

        &._01 {
           background: url(../images/banner-01.jpg) no-repeat right bottom; 
            border-bottom: 5px solid #eee;
        }
        &._02 {
            background: url(../images/banner-02.jpg) no-repeat right center fixed;   
        }
        &._03 {
            background: url(../images/banner-03.jpg) no-repeat right center;  
            background-size: cover;
        }  
        &._04 {
            background: url(../images/banner-04.jpg) no-repeat center center  ;  
            background-size: cover;
        }


        &.vh100 {
            border-bottom: 1px solid #ccc;
            @include tablet {
                min-height: 100vh;
                max-height: 100vh;
            }
        }


        h1 {
            margin-top: $margin;
            font-size: $size-xl;
            text-align: center;

            strong {
                font-weight: 600;
                color: $color-primary;
            }
            @include mobile {
                font-size:$size-md;
            }  
        }


        h2 {
            font-size: $size-lg;
            position: relative;
        }
    }

    &.companias {
        padding: 3rem;
        h2 {
            margin-bottom: 2rem;
            @include mobile {
                font-size: 1.5rem;
            }
        }
    } 
}


.toaction {
    h3 {
        font-size: 16px;
        margin-top: 0;
        opacity: .7;
        
        @include tablet {
            font-size: 16px;
            font-weight: 100;
        }
        
    }
    p {
        font-size: 13px;
        opacity: .77;
    }
    
    @include tablet {
        flex-direction: column;
        justify-content: center;
        .col-4 {
            max-width: 100%;
            min-width: 100%;
            margin-bottom: 12px;
        }
    } 
    
    img {
        width: 32px;
        height: 32px;
        margin-right: 12px;
        margin-top: -6px;
            @include tablet {
                width: 48px;
                height: 48px;
            }
        }
    
    .col {
        @include tablet {
            margin: 24px 0;
        }
    }
}

//home botones


.btn-primary {
        transition: .2s;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: $margin * 0.5;
        border-radius: 4px;
        color: #fff;
        border: 1px solid $color-third;
        background: $color-third;
        text-transform: uppercase;
        border-radius: $radius;
        position: relative;
        font-weight: bold;
        font-size: 1.15rem;
        text-decoration: none;
        margin: auto;
    
        &.btn-outline-primary {
            background: none;
            border: 2px solid white;
            color: white;
        }
}


.list-cryptos {
    background: url(../images/bg__with-dotted.svg) no-repeat center/contain;
    max-width: 1043px;
    padding: 10px 0;
    margin: 0 auto 10px;
    text-align: center;
    h2 {
        color: #7c828d;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: inline-block;
        position: relative;
        font-size: 14px;
        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            background: #e9ebf0;
            top: 50%;
            width: 400px;
            
            @include laptop {
                width: 100px;
            }
            
            @include mobile {
                width: 1px;
                display: none;
            }
            
        }
        &:before {
            right: 100%;
            margin-right: 20px;
        }
        
        &:after {
            left: 100%;
            margin-left: 20px;
 
        } 
    }
    
  
    .btn {
        transition: .2s;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 230px;
        height: 50px;
        margin: 0 auto;
        padding: 2px 30px 0;
        border-radius: 4px;
        color: #fff;
        border: 1px solid $color-secondary;
        background: $color-secondary;
        text-transform: uppercase;
        border-radius: 4px;
        box-shadow: 0 10px 25px rgba(221, 178, 6, 0.5);
        position: relative;
        font-weight: bold;
        font-size: 1.15rem;
        text-decoration: none;
        
        &:hover {
            background: $color-primary;
            border-color: $color-primary;
            color: $color-secondary;
            box-shadow: 0 10px 25px rgba(118, 107, 62, 0.85);
        }
 


        &:before {
            right: 100%;
            margin-right: 20px;
        }

        &:after {
            left: 100%;
            margin-left: 20px;
        }
    }
}
 

.smartphone {
    position: relative;
    box-shadow: inset 0px 0px 0px 4px #ccc;
    
    &.iphone5 {
        width: 320px;
        height: 568px;
    }

    &:before {
        content: "";
        width: 100%;
        height: 15px;
        background: #ccc;
        position: absolute;
        -webkit-border-bottom-right-radius: 24px;
        border-bottom-right-radius: 24px;
        -webkit-border-bottom-left-radius: 24px;
        border-bottom-left-radius: 24px;
        bottom: -15px;
        left: 0;
    }
    

    &:after {
        content: "";
        width: 100%;
        height: 15px;
        background: #ccc;
        position: absolute;
        -webkit-border-top-right-radius: 24px;
        border-top-right-radius: 24px;
        -webkit-border-top-left-radius: 24px;
        border-top-left-radius: 24px;
        top: -15px;
        left: 0;
    }
 
}
