 
.testimonials-section {
 
  height: 220px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: center;
}
.slider__nav {
  width: 12px;
  height: 12px;
  margin: 20px 12px;
  border-radius: 50%;
  z-index: 10;
  outline: 6px solid #ccc;
  outline-offset: -6px;
  box-shadow: 0 0 0 0 $color-primary, 0 0 0 0 rgba(0, 76, 186, 0);
  cursor: pointer;
  appearance: none;
  backface-visibility: hidden;
}
.slider__nav:checked {
  -webkit-animation: check 0.4s linear forwards;
  animation: check 0.4s linear forwards;
}
.slider__nav:checked:nth-of-type(1) ~ .slider__inner {
  left: 0%;
}
.slider__nav:checked:nth-of-type(2) ~ .slider__inner {
  left: -100%;
}
.slider__nav:checked:nth-of-type(3) ~ .slider__inner {
  left: -200%;
}
.slider__nav:checked:nth-of-type(4) ~ .slider__inner {
  left: -300%;
}
.slider__nav:checked:nth-of-type(5) ~ .slider__inner {
  left: -400%;
}
.slider__inner {
  position: absolute;
  top: $margin * 2;
  left: 0;
  width: 300%;
  height: auto;
  transition: left 0.4s;
  display: flex;
  flex-flow: row nowrap;
}
.slider__contents {
  height: 100%;
  text-align: center;
  display: flex;
  flex: 1;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.slider__caption {
  font-size: $size-ssm;
  color: #111;
  opacity: .5;
}

h2.slider__caption {
  font-size: $size-ssm;
  color: #111;
  opacity: .5; 
}

.slider__txt {
  font-size: $size-md;
  max-width: 750px;
    margin-bottom: $margin;
    font-family: $font-o;
}
quote {
  font-weight: bold;
  font-size: 100px;
  color: $color-secondary;
  margin-bottom: 0;
}

@-webkit-keyframes check {
  50% {
    outline-color: $color-primary;
    box-shadow: 0 0 0 12px $color-primary, 0 0 0 24px rgba(0, 76, 186, 0.2);
  }
  100% {
    outline-color: $color-primary;
    box-shadow: 0 0 0 0 $color-primary, 0 0 0 0 rgba(0, 76, 186, 0);
  }
}

@keyframes check {
  50% {
    outline-color:$color-primary;
    box-shadow: 0 0 0 12px $color-primary, 0 0 0 24px rgba(0, 76, 186, 0.2);
  }
  100% {
    outline-color: $color-primary;
    box-shadow: 0 0 0 0 $color-primary, 0 0 0 0 rgba(0, 76, 186, 0);
  }
}