@import '../mixin/mixin.transition';
@import '../mixin/mixin.border.radius';


//bubble widget


.bot {
    width: 64px;
    height: 64px;
    background: $color-secondary url(../images/bubble.svg) no-repeat;
    position: fixed;
    bottom: 10px;
    right: 10px;
    @include border-radius(64px);
    box-shadow: 0 5px 16px 0 rgba(0,0,0,.32);
    @include mobile {
        width: 48px;
        height: 48px;
    }
    
    &.close {
    background: $color-primary;
    }
    &.close:hover {
      opacity: 1;
    }
    &.close:before, &.close:after {
        position: absolute;
        left:29px;
        content: ' ';
        height: 32px;
        width: 4px;
        background-color: #fff;
        top: 16px;
        @include mobile {
            height:24px;
            top: 12px;
            left: 22px;
        }
    }
    &.close:before {
      transform: rotate(45deg);
    }
    &.close:after {
      transform: rotate(-45deg);
    }
}

.widget {
    display: none;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 10px 0 rgba(0,0,0,.32);
    -moz-box-shadow: 0 2px 10px 0 rgba(0,0,0,.32);
    box-shadow: 0 2x 10px 0 rgba(0,0,0,.32);
    bottom: 64px;
    flex-direction: column;
    margin: 0 20px 20px 0;
    max-width: 320px;
    position: fixed;
    width: 90vw;
    right: 0;
    z-index: 9999;
    margin: 0 20px 20px 0;
    @include mobile {
        max-width: 100%;
        bottom: 48px;
    }
    &.open {
        display: flex;
    }
     
    .contenedor {
    /* border-radius: 10px; */
    /* box-shadow: 0 2px 10px 1px #b5b5b5; */
   
    header {
            background-color: #1989cc;
            border-radius: 10px 10px 0 0;
            color: #4a546c;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 6px 0 ;
            align-items: center;
            
            img { 
                width: 180px;
            }
        }
        
    .mensaje-container {
        background-color: #fff;
        height: 50vh;
        max-height: 330px;
        overflow-y: scroll;
        padding-top: 10px;
        
        .mensaje {
            margin: 10px;
            display: flex;
            font-size: 14px;
            .avatar {
                width: 40px;
                height: 40px;
                border-radius: 100%;
                margin-right: 10px;
                //box-shadow: 0 0 3px 1px #b5b5b5;
                background: #1989cc;
            }
            
            .respuesta {
                background-color: #f4f7f9;
                color: #4a546c;
                border-radius: 10px;
                padding: 15px;
                max-width: 215px;
                text-align: left;
            } 
        }
    }
        
    .sale {
        align-items: center;
        display: flex;
        background-color: #f4f7f9;
        height: 45px;
        padding: 5px;
        border-radius: 0 0 10px 10px;
        
            .enviar {
                width: 32px;
                height: 32px;
                background: url(../images/send.svg) no-repeat;
                border: 0;

            }
            .mensaje-input {
                width: 100%;
                border: 0;
                background-color: #f4f7f9;
                height: 30px;
                padding-left: 15px;
                font-size: 15px;
            }
        } 
    } 
}

