

[data-overlay-dark]:before, [data-overlay-light]:before   {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index:0;
}

body.light [data-overlay]:before {background:#343a40;}
body.light [data-overlay="9"]:before {opacity: 0.9;}
body.light [data-overlay="8"]:before {opacity: 0.8;}
body.light [data-overlay="7"]:before {opacity: 0.7;}
body.light [data-overlay="6"]:before {opacity: 0.6;}

body.dark [data-overlay]:before {background:#343a40;}
body.dark [data-overlay="9"]:before {opacity: 0.9;}
body.dark [data-overlay="8"]:before {opacity: 0.8;}
body.dark [data-overlay="7"]:before {opacity: 0.7;}
body.dark [data-overlay="6"]:before {opacity: 0.6;}